#map-canvas {
    width: 60vW;
    height: 70vH;
}

#mapContainer {
    margin: 30px;
}

.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top:0;
}

.sidebar-btn {
    border: none;
    border-radius: 0;
}

.sidebar-btn {
    padding: 10px;
    background: white;
    color: black;
    
    
    border: none;
    border-bottom: #8d8d8d; 
    border-bottom-width: 1px;
    border-bottom-style: ridge;
  
}


.row {
    margin-top: 10
}

.title {
    padding: 10px;
    background-color: white;
    color: black;
    
    margin-right: 10px;
    border-bottom: #8d8d8d; 
    border-bottom-width: 3px;
    border-bottom-style: ridge;
}

.subtitle {
    background: transparent;
    color: grey;
}

.chart {
    height: 40vH;
    min-height: 200px;
    min-width: 300px
}



.navbar  .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar
{
    background-color: white
}

.navbar .nav > li > a > li > a:focus,
.navbar .nav > li > a > li > a:hover {
  color: gold;
  background-color: green;
}



.navbar-default .navbar-nav > li > a > li > a:focus,
.navbar-default .navbar-nav > li > a > li > a:hover {
   color: gold;
  background-color: green;
}

.nav> li > a {
    padding: 10px;
    background: white;
    color: black;

    border: none;
    border-bottom: #8d8d8d; 
    border-bottom-width: 1px;
    border-bottom-style: ridge;
}
