#map-canvas {
    width: 60vW;
    height: 70vH;
}

#mapContainer {
    margin: 30px;
}

/*.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top:0;
}

.sidebar-btn {
    border: none;
    border-radius: 0;
}

.sidebar-btn {
    padding: 10px;
    background: white;
    color: black;
    
    
    border: none;
    border-bottom: #8d8d8d; 
    border-bottom-width: 1px;
    border-bottom-style: ridge;
}*/


.row {
    margin-top: 10
}

.title {
    padding: 10px;
    background-color: white;
    color: black;
    
    margin-right: 10px;
    border-bottom: #8d8d8d; 
    border-bottom-width: 3px;
    border-bottom-style: ridge;
}

.subtitle {
    background: transparent;
    color: grey;
}

.chart {
    height: 40vH;
    min-height: 200px;
    min-width: 300px
}



.navbar .nav {
    
    margin-left: 5px;
    width: 100%;
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav > li {
    padding: 0;
    margin: 0;
    
   
    
   // border-bottom: #8d8d8d; 
    //border-bottom-width: 1px;
//    border-bottom-style: ridge;
}

.navbar .nav   {
    padding: 0;
    margin: 0;
    
    border-left: black;
    border-left-width: 3px;
}


.navbar .nav > li > a {
    padding: 10px;
    color: black;
    
    width: 100%;
    display: flex;
    
    border-bottom: #8d8d8d; 
    border-bottom-width: 1px;
    border-bottom-style: ridge;
    
    background-color: white;
}


.active > a {
    background: none;
    border: none;
}

.active > a {

    font-weight: bold;
    
    border-bottom: #8d8d8d; 
    border-bottom-width: 3px;
    border-bottom-style: ridge; 
    
}

/* hide inactive nested list */
.navbar .nav ul.nav {
   display: none;           
}
/* show active nested list */
.navbar .nav>.active>ul.nav {
    display:block
}


